
<%= render "home"%>
<h1 class="center"> Listing all Todos </h1>



<table class="table sunnary">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @todos.each do |todo|%>
    <tr>
      <td ><%= todo.name %></td>
      <td ><%= todo.description[1..5] %></td>
    
      <td class="actions">
      <%= link_to "Edit",edit_todo_path(todo),class:"btn"%>
      <%= link_to "Show", todo_path(todo),class:"btn"%>
      <%= link_to "Delete",todo_path(todo),class:"btn",method: :delete, data: {confirm:"Are You Sure?"}%>
      </td>
    
    </tr>

  <%end%>
</table>

<p class="btn btn-xlarge center">
  <%= link_to "Create a Todo",new_todo_path%>
</p>

