<h1> listing all Todos </h1>

<p class="btn  btn-xlarge">
  <%= link_to "Create a Todo",new_todo_path%>
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @todos.each do |todo|%>
    <tr>
      <td ><%= todo.name %></td>
      <td ><%= todo.description %></td>
    
      <td class="actions ">
      <%= link_to "Edit",edit_todo_path(todo),class:"btn  btn-xlarge"%>
      <%= link_to "Show", todo_path(todo),class:"btn  btn-xlarge"%>
      <%= link_to "Delete",todo_path(todo),class:"btn  btn-xlarge",method: :delete, data: {confirm:"Are You Sure?"}%>
      </td>
    
    </tr>

  <%end%>
